aiofiles
aiohttp
asyncio
bing_image_downloader==1.1.2
numpy
dnspython==2.3.0
fuzzysearch
ffmpeg-python
gitpython
gTTS
googletrans
hachoir
heroku3
img2pdf
lyricsgenius
MukeshAPI
motor
ntgcalls==1.1.2
pillow==9.5.0
opencv-python-headless==4.9.0.80
pytz
psutil
pytube
pykeyboard
py-tgcalls==1.2.9
#git+https://github.com/KurimuzonAkuma/pyrogram@dev
pyrofork
python-dotenv
python-arq
pyyaml
requests
search-engine-parser
speedtest-cli
secureme==0.0.4
spotipy
telethon==1.33.1
telegraph==2.2.0
tgcrypto
unidecode
urllib3
yt-dlp==2023.10.13
youtube-search-python
youtube_search
uuid==1.30