name: "Sphinx: Render docs"

on:
  push:
    paths:
      - "**.yml"
      - "docs/**"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      actions: write


    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install dependencies
        run: |
           #pip install --upgrade pip
           pip install -r docs/requirements.txt

      - name: Build documentation
        run: |
          cd docs
          make html

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: github.ref == 'refs/heads/dev'
        with:
          deploy_key: ${{ secrets.ACTIONS_DEPLOY_KEY }}
          commit_message: ${{ github.event.head_commit.message }}
          user_name: 'github-actions[bot]'
          user_email: 'github-actions[bot]@users.noreply.github.com'
          publish_dir: docs/_build/html
          external_repository: TheTeamVivek/TheTeamVivek.github.io
          publish_branch: gh-pages

      - uses: Mattraks/delete-workflow-runs@v2
        with:
          delete_workflow_pattern: "Sphinx: Render docs"
          keep_minimum_runs: 0
          retain_days: 0